<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cose_project">
    <uses-permission android:name = "android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/comic_icon"
        android:label="CoSeApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ComicsEpisodesActivity" android:label="Ovo je su sve episode u stripu"></activity>
        <activity android:name=".EpisodeImagesActivity" android:label="Ovo je su sve slike u episodi"></activity>
        <activity android:name=".SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".DescriptionActivity"></activity>
    </application>
</manifest>